.row{
	display:block;
	width: "100%";
}

.box{
	height:25px;
	width: 15px;
	margin: 4px;
	background-color: black;
	display: inline-block;
}

.box.perfect{
	background-color: greenyellow;
}

.box.wrongplace{
	background-color: yellow;
}

